<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="stylemainpers.css" rel="stylesheet">
        <link rel="stylesheet" href="mainpers.css">
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
              
    <main class="container">
        
        <div class="left-column">
          
        <img data-image="black" src="images/t-blue.png" alt="">
        <img data-image="blue" src="images/t-pink.png" alt="">
        <img data-image="blue" src="images/t-yellow.png" alt="">
              
        <img data-image="red" class="active" src="images/t-white.png" alt="">
                      <div class="drop-zone">
                  <span class="drop-zone__prompt">Drop file here or click to upload</span>
     {{ form_start(formcmp) }}
    
      {{ form_row(formcmp.user,{'attr' :{'placeholder' : "user"}}) }}
     
        <button type="submit" >Register</button>
                                
                        
      {{ form_end(formcmp) }}                     
    <input type="file" name="myFile" class="drop-zone__input">
  </div>
      </div>
      <!-- Left Column / Headphones Image -->
      

      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>Headphones</span>
          <h1>Beats EP</h1>
          <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

          <!-- Product Color -->
          <div class="product-color">
            <span>Color</span>

            <div class="color-choose">
              <div>
                <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                <label for="red"><span><input value="white" hidden/></span></label>
              </div>
              <div>
                <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                <label for="blue"><span><input value="yellow" hidden/></span></label>
              </div>
              <div>
                <input data-image="black" type="radio" id="black" name="color" value="black">
                <label for="black"><span><input value="blue" hidden/></span></label>
              </div>
            </div>

          </div>

          <!-- Cable Configuration -->
          <div class="cable-config">
            <span>Size</span>

            <div class="cable-choose">
              <button>S</button>
              <button>M</button>
              <button>L</button>
            </div>

            <a href="#">How to configurate your headphones</a>
          </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
          <span>148$</span>
          <a href="#" class="cart-btn">Add to cart</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="scriptmainpers.js" charset="utf-8"></script>
    <script src="mainmainpers.js"></script>

  </body>
</html>
